@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Microsoft Developer Conference!.</h1>

    <img src="~/images/conference_banner.jpg" alt="Conference Banner"/>
</div>

<div>
    <ul>
        <li>A virtual platform for you to learn from the experts and connect with the community.</li>
        <li>Calling all developers! Get ready to dev-level-up!</li>
        <li>The way we work, the way we live, has evolved. We now live in a new innovative world.</li>
    </ul>
</div>

<a class="btn btn-primary" asp-action="RegisterForm">Sign Up For the Conference</a>